* {
  box-sizing: border-box;
  margin: 0;
  padding: 0
}

body {
  font-family: 'Open Sans', sans-serif;
  background: #f1f1f1
}

.header {
  padding: 15px;
  background: #54e2c3;
  box-shadow: 3px gray
}

.header img {
  width: 200px
}

#menu {
  overflow: hidden;
  background-color: #fff;
  width: 100%;
  z-index: 1;
  box-shadow: 0 2px 5px 0 #d3d3d3
}

#menu a {
  float: right;
  display: block;
  color: #1b1b1b;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  border-bottom: 3px solid transparent;
  position: relative;
  transition: .5s;
  font-size: 18px
}

#menu a:hover {
  background-color: #ddd;
  color: #000;
  border-bottom: 3px solid #54e2c3;
  padding-right: 30px
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  opacity: 0.9;
}

.sticky+.container {
  padding-top: 60px;
}

.pagetitle {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  color: #f5f5f5;
  font-size: 24px;
  margin-bottom: 10px;
}

.container {
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  height: max-content;
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 2px 3px 5px 0 #d3d3d3
}

.container .main {
  max-width: 100%;
  margin: auto
}

h1 {
  font-size: 50px;
  word-break: break-all
}

h4 {
  margin-top: 20px;
  margin-bottom: 5px;
  font-weight: lighter;
  font-size: 20px
}

.row {
  margin: 10px -16px
}

.row,
.row>.column {
  padding: 8px
}

.column {
  float: left;
  width: 33.33%;
  display: none
}

.row:after {
  content: "";
  display: table;
  clear: both
}

.content {
  background-color: #e8e8e8;
  padding: 10px;
  border: 1px #d3d3d3 solid;
  border-radius: 5px;
  height: 300%;
}

.content .imgbox {
  width: 100%;
  height: 200px;
  position: relative;
  overflow: hidden;
}

.imgbox img{
  min-height: 100%;
  min-width: 100%;
  position: absolute;
  top: -9999px;
  bottom: -9999px;
  right: -9999px;
  left: -9999px;
  margin: auto;
}

.show {
  display: block
}

.btn {
  border: none;
  outline: 0;
  padding: 9px 16px;
  background-color: transparent;
  cursor: pointer;
  transition: .3s;
  border-bottom: 3px solid transparent;
  color: #1b1b1b
}

.btn:hover {
  border-bottom: 3px solid #5bc0de;
}

.btn.active {
  background-color: transparent;
  color: #202020
}

.wd-30 {
  width: 30%
}

.wd-25 {
  width: 25%
}

.wd-20 {
  width: 20%
}

.footer {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  background-color: #3c4049;
  padding: 40px 15% 0px 15%;
}

.footer .footerkolom {
  float: left;
  height: 240px;
  background-color: transparent
}

.footer .footercopyright {
  padding: 30px;
  color: #e8e8e8;
  text-align: center
}

.footerkolom .footercontent {
  color: #eeee;
  font-size: 16px;
  background-color: transparent;
  font-weight: lighter;
  padding: 20px
}

.f-head{
  color: #00aeef;
  font-size: 20px;
}

/* Socmed Icons  */
.socmed {
  width: 100%;
  height: 40px;
  position: relative;
  margin: 10px
}
.socmed img{
  position: absolute;
  width: 40px;
  left: 0;
}
.socmed p{
 position: absolute;
 left: 45px;
 top: 50%;
 transform: translate(0,-50%)
}
.socmed:hover {
  cursor: pointer;
  background-color: #2e2e2e;
  transition: 0.4s ease;
}
/* Pembayaran */
.pembayaran{
  width: 100%;
  height: 40px;
  position: relative;
  margin: 3px;
  padding: 5px;
}
.pembayaran img{
  height: 30px;
}


@media screen and (max-width:950px) {
  .container .column {
    float: none;
    width: 100%
  }
}

@media screen and (max-width:500px) {
  .container {
    width: 100%
  }
}

@media screen and (max-width:500px) {
  .footer .footerkolom {
    width: 50%
  }
}

.bg-blue{
  background-color: #5bc0de;
}