* {
    box-sizing: border-box;
    margin: 0;
    padding: 0
}

body {
    font-family: 'Open Sans', sans-serif;
    background: #f1f1f1
}

.header {
    padding: 15px;
    background: #54e2c3;
    box-shadow: 3px gray
}

.header img {
    width: 200px
}

#menu {
    overflow: hidden;
    background-color: #fff;
    width: 100%;
    z-index: 1;
    box-shadow: 0 2px 5px 0 #d3d3d3
}

#menu a {
    float: right;
    display: block;
    color: #1b1b1b;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border-bottom: 3px solid transparent;
    position: relative;
    transition: .5s;
    font-size: 18px
}

#menu a:hover {
    background-color: #ddd;
    color: #000;
    border-bottom: 3px solid #54e2c3;
    padding-right: 30px
}
.sticky {
    position: fixed;
    top: 0;
    width: 100%
  }

.container {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    height: max-content;
    background-color: #fff;
    border-radius: 10px;
    padding-top: 10px;
    box-shadow: 2px 3px 5px 0 #d3d3d3
}

.container .kolom1 {
    width: 40%;
    float: left;
    height: max-content;
    border-radius: 10px;
    padding-top: 10px;
    margin: 20px
}

.kolom1 .isi1 {
    width: 100%;
    background-color: #5bc0de;
    border-radius: 10px;
    height: max-content
}

.kolom1 .dekripsi {
    margin-top: 20px;
    font-size: 16px;
    width: 100%;
    text-align: center
}

.isi1 img {
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px
}

.isi1 h2 {
    text-align: center;
    color: #fff;
    margin-top: 5px;
    margin-bottom: 10px
}

.container .kolom2 {
    width: 50%;
    float: left;
    height: max-content;
    border-radius: 20px;
    padding-top: 10px;
    margin: 20px
}

.kolom2 .isi2 {
    width: 100%;
    padding: 10px;
    height: max-content;
    border-radius: 20px
}

.isi2 img {
    width: 50%;
    height: 200px;
    margin: 10px;
    float: left;
    border-radius: 10px
}

.isi2 .ket {
    font-size: 13px;
    float: left;
    width: 40%;
    height: 200px;
    margin: 10px;
    position: relative
}

.ket h2 {
    margin-bottom: 10px
}

.ket button {
    display: inline-block;
    border-radius: 4px;
    background-color: #5bc0de;
    border: none;
    color: #fff;
    text-align: center;
    font-size: 20px;
    width: 100px;
    height: 40px;
    transition: all .5s;
    cursor: pointer;
    position: absolute;
    bottom: 0
}

.ket button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: .5s
}

.ket button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: .5s
}

.ket button:hover span {
    padding-right: 25px
}

.ket button:hover span:after {
    opacity: 1;
    right: 0
}

.footer {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    background-color: #202020;
    padding: 40px 40px 0 40px
}

.footer .footerkolom {
    float: left;
    height: 240px;
    background-color: transparent
}

.footer .footercopyright {
    padding: 30px;
    color: #f3f3f3;
    text-align: center
}

.footerkolom .footercontent {
    color: #f5f5f5;
    font-size: 16px;
    background-color: transparent
}

.socmed {
    width: 40px
}

.socmed:hover {
    cursor: pointer
}

@media screen and (max-width:960px) {
    .container {
        width: 100%;
        padding: 50px
    }
}

@media screen and (max-width:960px) {
    .container .kolom1 {
        float: none;
        width: 100%;
        margin: 0
    }
}

@media screen and (max-width:960px) {
    .container .kolom2 {
        float: none;
        width: 100%
    }
}

.wd-20 {
    width: 20%
}

.wd-25 {
    width: 25%
}

.wd-30 {
    width: 30%
}