	* {
	    box-sizing: border-box;
	    margin: 0;
	    padding: 0;

	}

	body {
	    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	    background: #f1f1f1;
	}

	/*header CSS=========================================================================*/
	.header {
	    padding: 15px;
	    background: #54e2c3;
	    box-shadow: 3px gray;
	}

	.header img {
	    width: 200px;
	}

	/*Menu CSS=============================================================================*/
	#menu {

	    overflow: hidden;
	    background-color: white;
	    width: 100%;
	    -webkit-box-shadow: 0px 2px 5px 0px lightgray
	}


	#menu a {

	    float: right;
	    display: block;
	    color: #1b1b1b;
	    text-align: center;
	    padding: 14px 16px;
	    text-decoration: none;
	}


	#menu a:hover {

	    background-color: #ddd;
	    color: black;
	}



	/* Slideshow container==============================================================================*/
	.container .slideshow-container {
	    width: 50%;
	    height: 30%;
	    position: relative;
	    margin: auto;
	    float: left;

	}

	.slideshow-container img {
	    width: 100%;
	    max-width: 100%;
	    border-radius: 10px;
	}

	/* Next & previous buttons */
	.prev,
	.next {
	    cursor: pointer;
	    position: absolute;
	    top: 50%;
	    width: 100px;
	    padding: 16px;
	    margin-top: -22px;
	    color: white;
	    font-weight: bold;
	    font-size: 18px;
	    transition: 0.6s ease;
	    border-radius: 0 3px 3px 0;
	    user-select: none;
	}

	/* Position the "next button" to the right */
	.next {
	    right: 0;
	    border-radius: 3px 0 0 3px;
	}

	/* On hover, add a black background color with a little bit see-through */
	.prev:hover,
	.next:hover {
	    background-color: rgba(0, 0, 0, 0.8);
	}

	/* Caption text */
	.text {
	    color: #f1f1f1;
	    font-size: 25px;
	    padding: 8px 12px;
	    position: absolute;
	    bottom: 8px;
	    width: 100%;
	    text-align: center;
	}

	/* Fading animation */
	.fade {
	    -webkit-animation-name: fade;
	    -webkit-animation-duration: 1.5s;
	    animation-name: fade;
	    animation-duration: 1.5s;
	}

	@-webkit-keyframes fade {
	    from {
	        opacity: .4
	    }

	    to {
	        opacity: 1
	    }
	}

	@keyframes fade {
	    from {
	        opacity: .4
	    }

	    to {
	        opacity: 1
	    }
	}

	/* On smaller screens, decrease text size */
	@media only screen and (max-width: 300px) {

	    .prev,
	    .next,
	    .text {
	        font-size: 11px
	    }
	}

	/*kontent=====================================================================================================*/
	.container {
	    margin-left: auto;
	    margin-right: auto;
	    width: 100%;
	    height: max-content;
	    background-color: white;
	    padding-top: 10px;
	    padding-left: 40px;
	    -webkit-box-shadow: 2px 3px 5px 0px lightgray;

	}

	.container .rows {
	    width: max-content;
	}

	.rows .beritakotak {
	    margin-left: 10px;
	    width: 230px;
	    height: 230px;
	    float: left;
	    background-color: yellow;
	    border-radius: 10px;
	}

	.rows .beritapanjang {
	    margin-top: 10px;
	    margin-left: 10px;
	    width: 470px;
	    height: 215px;
	    background-color: pink;
	    float: left;
	    border-radius: 10px;
	}

	.column {
	    float: left;
	    width: 50%;
	    height: max-content;
	    padding: 10px;

	}

	.rows .kontent {
	    width: 300px;
	    height: max-content;
	    margin: 10px;
	    float: left;
	}

	.kontent img {
	    max-width: 80%;
	    border-radius: 10px;

	}





	/*CSS Additional*/
	.wd-20 {
	    width: 20%;
	}

	.wd-25 {
	    width: 25%;
	}

	.wd-30 {
	    width: 30%;
	}


	/*Feature CSS*/
	/*CSS Image Slider Overlay*/

	.slidercontainer {
	    position: relative;
	    width: 50%;
	}

	.sliderimage {
	    display: block;
	    width: 100%;
	    height: auto;
	}

	.slideroverlay {
	    position: absolute;
	    bottom: 0;
	    left: 0;
	    right: 0;
	    background-color: #008CBA;
	    overflow: hidden;
	    width: 100%;
	    height: 0;
	    transition: .5s ease;
	}

	.sliderontainer:hover .slideroverlay {
	    height: 100%;
	}

	.slidertext {
	    color: white;
	    font-size: 20px;
	    position: absolute;
	    top: 50%;
	    left: 50%;
	    -webkit-transform: translate(-50%, -50%);
	    -ms-transform: translate(-50%, -50%);
	    transform: translate(-50%, -50%);
	    text-align: center;
	}

	/*FooterCSS==================================*/
	.footer {
	    margin-top: 20px;
	    margin-left: auto;
	    margin-right: auto;
	    width: 100%;
	    background-color: #202020;
	    padding: 40px 40px 0px 40px;
	}

	.footer .footerkolom {
	    float: left;
	    height: 240px;
	    background-color: transparent;
	}

	.footer .footercopyright {
	    padding: 30px;
	    color: #f3f3f3;
	    text-align: center;
	}

	.footerkolom .footercontent {
	    color: whitesmoke;
	    font-size: 16px;
	    background-color: transparent;
	}

	.socmed {
	    width: 40px;

	}

	.socmed:hover {
	    cursor: pointer;
	}

	@media screen and (max-width: 950px) {
	    .container .column {
	        float: none;
	        width: 100%;
	    }
	}

	@media screen and (max-width: 500px) {
	    .container {
	        width: 100%;
	    }
	}

	@media screen and (max-width: 500px) {
	    .footer .footerkolom {
	        width: 50%;
	    }
	}

	/*CSS Additional*/
	.wd-20 {
	    width: 20%;
	}

	.wd-25 {
	    width: 25%;
	}

	.wd-30 {
	    width: 30%;
	}


	/*Feature CSS*/
	/*CSS Image Slider Overlay*/

	.slidercontainer {
	    position: relative;
	    width: 50%;
	}

	.sliderimage {
	    display: block;
	    width: 100%;
	    height: auto;
	}

	.slideroverlay {
	    position: absolute;
	    bottom: 0;
	    left: 0;
	    right: 0;
	    background-color: #008CBA;
	    overflow: hidden;
	    width: 100%;
	    height: 0;
	    transition: .5s ease;
	}

	.sliderontainer:hover .slideroverlay {
	    height: 100%;
	}

	.slidertext {
	    color: white;
	    font-size: 20px;
	    position: absolute;
	    top: 50%;
	    left: 50%;
	    -webkit-transform: translate(-50%, -50%);
	    -ms-transform: translate(-50%, -50%);
	    transform: translate(-50%, -50%);
	    text-align: center;
	}

	/*FooterCSS==================================*/
	.footer {
	    margin-top: 20px;
	    margin-left: auto;
	    margin-right: auto;
	    width: 100%;
	    background-color: #202020;
	    padding: 40px 40px 0px 40px;
	}

	.footer .footerkolom {
	    float: left;
	    height: 240px;
	    background-color: transparent;
	}

	.footer .footercopyright {
	    padding: 30px;
	    color: #f3f3f3;
	    text-align: center;
	}

	.footerkolom .footercontent {
	    color: whitesmoke;
	    font-size: 16px;
	    background-color: transparent;
	}

	.socmed {
	    width: 40px;

	}

	.socmed:hover {
	    cursor: pointer;
	}

	@media screen and (max-width: 950px) {
	    .container .column {
	        float: none;
	        width: 100%;
	    }
	}

	@media screen and (max-width: 500px) {
	    .container {
	        width: 100%;
	    }
	}

	@media screen and (max-width: 500px) {
	    .footer .footerkolom {
	        width: 50%;
	    }
	}