* {
    box-sizing: border-box;
    margin: 0;
    padding:0;
    }
    body
    {
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        background: #f1f1f1;
    }
    /*header CSS==================================*/
			.header 
			{
				padding: 15px;
				background: #54e2c3;
				box-shadow: 3px gray;
			}
			.header img
			{
				width: 200px;
			}
    /*NavBar CSS==================================*/
			#topnav 
			{
				overflow: hidden;
				background-color: white;
				width: 100%;
				-webkit-box-shadow: 0px 2px 5px 0px lightgray;
			}
			#topnav a 
			{
				float: right;
				display: block;
				color: #1b1b1b;
				text-align: center;
				padding: 14px 16px;
				text-decoration: none;
			}
			#topnav a:hover
			{
				background-color: #ddd;
				color: black;
			}
			.sticky {
				position: fixed;
				top: 0;
				width: 100%;
			}
	/*content===================================*/
			.container
			{
				margin-left: auto;
				margin-right: auto;
				width: 90%;
				height: max-content;
				margin-top: 20px;
				background-color: white;
				border-radius: 10px;
				padding-top: 10px;
				-webkit-box-shadow: 2px 3px 5px 0px lightgray;
			}
			
			.container .box1
			{
				margin-top: 10px;
				width: 70%;
				height: max-content;
				padding: 15px;
				float: left;
				border-right: gray 1px solid;
			}
			
			.box1 .content
			{
				padding: 20px;
				border-radius:10px;
				width:100%;
			}

			.img-proj
			{
				margin: 20px 20px;
				width: 300px;
				border-radius: 20px;
				float: left;
				 
			}
			
			.paragraf
			{
				margin-top: 20px;
				margin-left: 50px;
                margin-right: 20px;
				margin: 50px;
				text-align: justify;
			}
			
			.button {
			  display: inline-block;
			  border-radius: 4px;
			  background-color: #f4511e;
			  border: none;
			  color: #FFFFFF;
			  text-align: center;
			  font-size: 15px;
			  padding: 10px;
			  width: 100px;
			  transition: all 0.5s;
			  cursor: pointer;
			  margin: 5px;
			}

			.button span {
			  cursor: pointer;
			  display: inline-block;
			  position: relative;
			  transition: 0.5s;
			}

			.button span:after {
			  content: '\00bb';
			  position: absolute;
			  opacity: 0;
			  top: 0;
			  right: -20px;
			  transition: 0.5s;
			}

			.button:hover span {
			  padding-right: 25px;
			}

			.button:hover span:after {
			  opacity: 1;
			  right: 0;
			}
			
			.container .box2
			{
				margin-top: 10px;
				width:30%;
				height:max-content;
				float:left;
				padding: 15px;
			}
			
			.box2 .content
			{
				padding-top:10px;
				padding-left: 50px;
				height:max-content;
				width:100%;
			}
			
	/*Feature CSS*/
    /*CSS Image Slider Overlay*/

				.slidercontainer {
				position: relative;
				width: 50%;
			  }
			  
			  .sliderimage {
				display: block;
				width: 100%;
				height: auto;
			  }
			  
			  .slideroverlay {
				position: absolute;
				bottom: 0;
				left: 0;
				right: 0;
				background-color: #008CBA;
				overflow: hidden;
				width: 100%;
				height: 0;
				transition: .5s ease;
			  }
			  
			  .sliderontainer:hover .slideroverlay {
				height: 100%;
			  }
			  
			  .slidertext {
				color: white;
				font-size: 20px;
				position: absolute;
				top: 50%;
				left: 50%;
				-webkit-transform: translate(-50%, -50%);
				-ms-transform: translate(-50%, -50%);
				transform: translate(-50%, -50%);
				text-align: center;
			  }
			/*CSS Additional*/
				.wd-20{
					width: 20%;
				}
				.wd-25{
					width: 25%;
				}
				.wd-30{
					width: 30%;
				}
			/*FooterCSS==================================*/
    .footer {
        margin-top: 20px;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        background-color: #202020;
        padding: 40px 40px 0px 40px;
    }

    .footer .footerkolom {
        float: left;
        height: 240px;
        background-color: transparent;
    }
    .footer .footercopyright
    {
        padding: 30px;
        color: #f3f3f3;
        text-align: center;
    }
    .footerkolom .footercontent {
        color: whitesmoke;
        font-size: 16px;
        background-color: transparent;
    }

    .socmed {
        width: 40px;

    }

    .socmed:hover {
        cursor: pointer;
    }

			@media screen and (max-width: 950px) {
				.container .box1 {
					float: none;
					width: 100%;
				}
			}

			@media screen and (max-width: 500px) {
				.container {
					width: 100%;
				}
			}
			@media screen and (max-width: 500px) {
				.footer .footerkolom {
					width: 50%;
				}
			}