* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    background: #f1f1f1;
}

html {
    scroll-behavior: smooth;
}

/*header CSS==================================*/
.header {
    padding: 15px;
    background: #54e2c3;
    box-shadow: 3px gray;
}

.header img {
    width: 200px;
}

/*NavBar CSS==================================*/
#menu {
    overflow: hidden;
    background-color: white;
    width: 100%;
    z-index: 1;
    box-shadow: 0px 2px 5px 0px lightgray
}

#menu a {
    float: right;
    display: block;
    color: #1b1b1b;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border-bottom: 2px solid transparent;
    transition: all .3s ease;
}

#menu a:hover {
    background-color: #ddd;
    color: black;
    border-bottom: 2px solid #54e2c3;

}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

/*ContentCSS==================================*/
/*container utama*/
.container {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    height: max-content;
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 2px 3px 5px 0px lightgray
}

/*container kolom untuk membuat 2 kolom*/
.container .column {
    padding: 10px;
    float: left;
}

.column::after {
    content: "";
    display: table;
    clear: both;
}

/*text didalam container*/
.container .textpromo {
    margin-top: 25px;
    margin-left: 10px;
    width: 50%;
    color: #4d4d4d
}

/*content row untuk membuat baris*/
.pagetitle
{
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    background-color: #5bc0de;
    color: whitesmoke;
    font-size: 20px
}
.container .colprom
{
    width: 50%;
    float: left;
    padding: 30px;
}
.colprom img
{
    max-width: 100%;
    border-radius: 5px
}

.colprom .imagebox
{
    padding: 5px;
    box-shadow: 2px 2px 1px lightgray;
    background-color: white;
    border-radius: 5px;
}

/*content terletak didalam kolom*/
.content {
    width: 100%;
    background-color: #e8e8e8;
    border-radius: 5px;
    transition: all .3s ease;

}

.content:hover {
    background-color: #ccebff;
}

.content .titlepaket {
    width: 100%;
    height: max-content;
    padding: 15px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    text-align: center;
    color: white;
    font-size: 20px;
    padding: 25px
}

.titlepaket:hover {
    cursor: pointer;
}

.content .gambarpaket {
    width: 100%;
    height: max-content;
    padding: 20px;
    text-align: left;
}

.gambarpaket img {
    width: 100%;
    align-content: center;
}


/*CSS Color*/
.bg-blue {
    background-color: #00aeef;
}

.bg-green {
    background-color: #3bb878;
}

.tx-default {
    color: #4d4d4d;
}

/*CSS Additional*/
.wd-20 {
    width: 20%;
}

.wd-25 {
    width: 25%;
}

.wd-30 {
    width: 30%;
}

.wd-90 {
    width: 90%;
}

.wd-75 {
    width: 75%;
}

.wd-33 {
    width: 33.3%;
}

.rght
{
    text-align: right
}

/*Feature CSS*/
/*CSS Image Slider Overlay*/

.slidercontainer {
    position: relative;
    width: 50%;
}

.sliderimage {
    display: block;
    width: 100%;
    height: auto;
}

.slideroverlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #008CBA;
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
}

.sliderontainer:hover .slideroverlay {
    height: 100%;
}

.slidertext {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

/*FooterCSS==================================*/
.footer {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    background-color: #202020;
    padding: 40px 40px 0px 40px;
}

.footer .footerkolom {
    float: left;
    height: 240px;
    background-color: transparent;
}

.footer .footercopyright {
    padding: 30px;
    color: #f3f3f3;
    text-align: center;
}

.footerkolom .footercontent {
    color: whitesmoke;
    font-size: 16px;
    background-color: transparent;
}

.socmed {
    width: 40px;

}

.socmed:hover {
    cursor: pointer;
}

@media screen and (max-width: 950px) {
    .container .column {
        float: none;
        width: 100%;
    }
}

@media screen and (max-width: 500px) {
    .container {
        width: 100%;
    }
}

@media screen and (max-width: 500px) {
    .footer .footerkolom {
        width: 50%;
    }
}

@media screen and (max-width: 950px) {
    .container .kolom1 {
        float: none;
        width: 100%;
        margin: 0;
    }
}

@media screen and (max-width: 950px) {
    .container .kolom2 {
        float: none;
        width: 100%;
    }
}